<div>
    <% contact_info.forEach(function(elm){ %>
        <p><%= elm.contact_name %></p>
        <p><%= elm.contact_road %></p>
        <p><%= elm.contact_city %></p>
        <p><%= elm.contact_country %></p>
    <% }) %>
</div>
<div>
    <% contact_info.forEach(function(elm){ %>
        <p>Telefon : <%= elm.contact_phone %></p>
        <p>Fax : <%= elm.contact_fax %></p>
        <p>E-mail : <%= elm.contact_email %></p>
    <% }) %>
    <!-- <p>Kontakt</p>
    <p>Telefon</p>
    <p>fax</p>
    <p>email</p> -->
</div>
<div class="newsletter">
    <form action="/JSON/update/newsletter/user" method="POST">
        <p>Nyhedsbrev</p>
        <input type="email" class="newsletterText" name="mail" placeholder="E-mailadresse" required>
        <br>
        <input type="submit" value="TILMELD" name="sub" class="newsletterButton">
        <input type="submit" value="FRAMELD" name="sub" class="newsletterButton">
    </form>
</div>