<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
    <!-- <link rel="stylesheet" href="/resources/css/cssAdmin/main.css"> -->
    <!-- <script src="/modules/textboxio-client/textboxio/textboxio.js"></script> -->
    <!-- <link rel="stylesheet" href="/resources/css/cssAdmin/main.css"> -->
    <!-- <link rel="stylesheet" href="/resources/css/cssAdmin/newArticle.css"> -->

</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="articleContent clearfix">
            <div>

                <a href="/">Forside</a>
                <a href="/<%= article[0].fk_article_category %>">/<%= article[0].fk_article_category %></a>
                <p>/ Vis Artikkel</p>
            </div>
                <h1><%= article[0].article_headline %></h1>
                
                    <article class="clearfix">
                        <p class="articleDate"><i class="fa fa-clock-o"></i> <%= article[0].article_date %></p>
                        <a class="articleComent" href=""><i class="fa fa-comments"></i> <%= article[0].article_comment %> 0 KOMMENTARER</a>
                        <P class="articlePreviewed"><i class="fa fa-eye"></i> <%= article[0].article_views %> VISNINGER</P>
                        <div class="articleText">
                            <%- article[0].article_text %>
                        </div>
                        
                    </article>
<!-- DISPLAY COMMENTS -->
                    <h2>KOMMENTARER</h2>
                    <% comment.forEach(function(elm){ %>
                        <div class="Comments">
                            <h3><%= elm.comment_name %></h3>
                            <p><%= elm.comment_date %></p>
                            <p><%= elm.comment_text %></p>
                        </div>
                    <% }) %>
<!-- INSERTING COMMENT -->
                    <div class="yourComment">
                        <form action="/JSON/post/comment/<%= article[0].article_id %>" method="POST">
                            <h2>Din Kommentar</h2>
                            <div>
                                <label for="name">Dit Navn</label>
                                <input type="text" name="name" required>
                            </div>
                            <div>
                                <label for="email">Din E-mailadresse</label>
                                <input type="text" name="email" required>
                            </div>
                            <div>
                                <label for="comment">Kommentar</label>
                                <textarea name="comment" id="" cols="30" rows="10"></textarea required>
                            </div>
                            <button>UDFØR</button>
                        </form>
                    </div>


        </div>
        <% include ../.././partials/index/sponserBar %>
        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>
<!-- <script src="/resources/js/jsAdmin/dashboard.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

</html>