<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="mainContent clearfix">
                <h1>SENESTE ARTIKLER</h1>
                <% articles.forEach(function(elm){ %>
                    <article class="clearfix">
                        <h2>
                            <%= elm.article_headline %>
                        </h2>
                        <p class="articleDate"><i class="fa fa-clock-o"></i> <%= elm.article_date %></p>
                        <a class="articleComent" href=""><i class="fa fa-comments"></i> <%= elm.article_comment_count %> KOMMENTARER</a>
                        <P class="articlePreviewed"><i class="fa fa-eye"></i> <%= elm.article_views %> VISNINGER</P>
                        <div class="articleText">
                            <%- elm.article_text %>...  
                        </div>
                        <a class="articleCategory" href=""><i class="fa fa-tag"></i> 
                            <% if(elm.fk_article_category == 1){ %>
                                Biler
                            <% } else if (elm.fk_article_category == 2){ %>
                                Både
                            <% } else if ( elm.fk_article_category == 3){ %>
                                Bikes
                            <% } %>
                            </a>
                            <br>
                        
                        <a href="/arkivet/artikel/<%= elm.article_id %>" class="articleButton">
                            <!-- <input type="subtmit" value="LÆS MERE" > -->
                            <button>LÆS MERE</button>
                        </a>
                    </article>
                <% }) %>
        </div>
        <% include ../.././partials/index/sponserBar %>
        
        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>