<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body class="bodys">
    <main class="clearfix">
        <div class="contactContent clearfix">
                <h1>REDAKTION</h1>
            <div class="contactInfo">
                <% contact_info.forEach(function(elm){ %>
                    <p><%= elm.contact_name %></p>
                    <p><%= elm.contact_road %></p>
                    <p><%= elm.contact_city %></p>
                    <p><%= elm.contact_country %></p>
                <% }) %>
            </div>
            <div class="contactInfo">
                <% contact_info.forEach(function(elm){ %>
                    <p>Telefon : <%= elm.contact_phone %></p>
                    <p>Fax : <%= elm.contact_fax %></p>
                    <p>E-mail : <%= elm.contact_email %></p>
                <% }) %>
            </div>
            <div style="display:none;" class="success">
                <h2>Tak for din besked</h2>
            </div>
            <div style="display:none;" class="unsuccess">
                    <h2>Udfyld alle felter tak</h2>
                </div>
            <form action="/JSON/post/contactform" method="POST" id="contactForm">
                <div>
                    <div class="contactInput01">
                        <p>Dit Navn</p>
                        <input type="text" name="name" class="name">
                    </div>
                    <div class="contactInput02">
                        <p>Din Email-Adresse</p>
                        <input type="text" name="email" class="mail">
                    </div>
                    <div class="contactInput03">
                        <p>Emne</p>
                        <input type="text" name="topic" class="topic">
                    </div>
                    <div class="contactInput04">
                        <p>Bin Besked</p>
                        <textarea name="msg" id="" cols="30" rows="10" class="msg"></textarea>
                    </div>
                    <div class="newsletterbutton">
                        <button id="submitButton">INDSEND</button>
                    </div>
                </div>
            </form>
        </div>
        <% include ../.././partials/index/sponserBar %>

        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>
<script src="/resources/js/client/kontakt.js"></script>

</html>