<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="redaktionContent clearfix">
                <h1>REDAKTION</h1>
                <% author.forEach(function(elm){ %>
                    <% if(elm.fk_user_role == 2){ %>
                        <h2><%= elm.fk_category %></h2>
                            <article class="clearfix">
                                <img style="max-width:12%;" src="/resources/media/redaktion/<%= elm.author_profile_img %>" alt="Lisa">
                                <p class="redaName"><%= elm.author_name %></p>
                                <p class="redaMail"><i class="fa fa-envelope"></i><%= elm.author_email %></p>
                                <p class="redaText"><%= elm.author_profile_tekst %></p>
                            </article>
                    <% } %>

                <% }) %>


        </div>
        <% include ../.././partials/index/sponserBar %>

        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>