<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/modules/textboxio-client/textboxio/textboxio.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/adminNav.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/main.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/newArticle.css">

    <title><%= page.title %></title>
</head>
<header>
    <% include ../../.././partials/admin/adminNav %>
</header>
<body>
    <main>
        <a href="/admin/articles"> <- Tilbage</a>
        <h1>Artikler</h1>
        <h1>Preview:</h1>
        <div>
            <h2><%= article[0].article_headline %></h2>
            <%- article[0].article_text %>
        </div>
        <form action="/JSON/edit/article/<%= article[0].article_id %>" method="POST">
            <p>
                Overskrift :
            </p>
<!-- HEADLINE -->
            <label for="">Overskrift :</label>
            <input type="text" name="headline" value="<%= article[0].article_headline %>">
            <br>
<!-- DATE -->
            <%= article[0].article_date %><br>

<!-- TEXT -->
            <textarea id="mytextarea" name="textbox"><%- article[0].article_text %></textarea>
<!-- CATEGORY -->
            <p>
                Kategori :
            </p>
            <select name="category" id="">
                <% cat.forEach(function(elm){ %>
                    <option value="<%= elm.category_id %>"
                        <% if( article[0].fk_article_category == elm.category_id) { %>
                            selected
                        <% } %>
                        ><%= elm.category_name %></option>
                <% }) %>
            </select>
<!-- AUTHOR -->
            <p>
                Forfatter :
            </p>
            <select name="author" id="">
                <% author.forEach(function(elm){ %>
                    <option value="<%= elm.author_id %>"><%= elm.author_name %></option>
                <% }) %>
            </select>
            <br>
            <input type="submit" value="INDSÆT" name="submit" class="newsletterButton">
            <!-- <input type="submit" name="delete" value="delete">  -->
        </form>
        <form action="/JSON/edit/article/<%= article[0].article_id %>" method="POST">
            <input type="submit" value="SLET" onclick="return confirm('Er du sikker?')" name="submit" class="newsletterButton"> 
        </form>
          <script type="text/javascript">
            var editor = textboxio.replace('#mytextarea');
          </script>
<!-- COMMENTS -->
        <h2>Kommentarer</h2>
          <% comment.forEach(function(elm){ %>
                <form action="/JSON/edit/comment/<%= elm.comment_id %>" method="POST">

                    <p><%= elm.comment_email %></p>
                    <p><%= elm.comment_date %></p>
                    <div>
                        <label for="commentHeadline">Comment Headline</label>
                        <input type="text" name="commentHeadline" value="<%= elm.comment_name %>">
                    </div>

                    <div>
                        <label for="commentText">Comment Text</label>
                        <input type="text" name="commentText" value="<%= elm.comment_text %>">
                    </div>
                    <input type="submit" value="Opdater" name="submit" class="newsletterButton"> 
                    <input type="submit" value="Slet"onclick="return confirm('Er du Sikker?')" name="submit" class="newsletterButton"> 

                </form>
            <% }) %>    

    </main>
</body>
</html>
<script src="/resources/js/jsAdmin/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

